<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="shortcut icon" href="/images/logo-mercado-liebre.svg" />
    
</head>
<body>
    <header>

        <div class="main-header">
            <div class="container">
                <div class="header-top-bar">
                    <img src="/images/logo-mercado-liebre.svg" alt="mercadoLiebre logo" class="logo">
                    
                    <div class="search-bar"> <input type="text" placeholder="Buscar productos, marcas">
                    <button class="button"> <i class="fas fa-search"></i></button> 
                    </div>

                    <h2 class="copy-header">
                        <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito </h2> 
                </div>
            
                <nav id="main-navbar">
                    <div class="container">
                        <div id="main-navbar-mobile" class="hide" style="display: none;">
                            <ul class="left-bar">
                                <li><a href="/"> Ofertas </a></li>
                                <li><a href="/"> Tiendas Oficiales </a></li>
                                <li><a href="/"> Vender </a></li>
                                <li><a href="/"> Ayuda </a></li>
                            </ul>
                            <ul class="right-bar">
                                <li><a href="/register"> Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                                <li><a href="/login"> Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                                <li><a href="/"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                            </ul>
                        </div>
                        <div id="main-navbar-desktop">
                            <ul class="left-bar">
                                <li><a href="/"> Ofertas </a></li>
                                <li><a href="/"> Tiendas Oficiales </a></li>
                                <li><a href="/"> Vender </a></li>
                                <li><a href="/"> Ayuda </a></li>
                            </ul>
                            <ul class="right-bar">
                                <li><a href="/register"> Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                                <li><a href="/login"> Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                                <li><a href="/"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                    <div  class="burger-menu" >
                        <button  id="btn-menu"><i class="fas fa-bars"></i></button>
                    </div>
                </nav>

            </div>
        </div>
    </header>

    
    <main class="contenedor-main">
        <div class="banner"><img src="/images/img-home-banner.jpg" alt="Banner: descuento navidad"> </div>
        <div class="container">
            
            <h2 class="centrado"><Strong> Basada en tu ultima visita</Strong> </h2>
                <section class="contenedor-section">
                    <div class="articulo">
                        <img src="/images/img-cafetera-moulinex.jpg" width=100% >
                        <div class="contenido-art">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <p class="precio">$6770</p>
                            <p class="descuento">40% OFF</p>
                            
                        </div>
                        <p class="descripcion">cafetera moulinex</p>
                    </div>

                    <div class="articulo">
                        <img src="/images/img-macbook-pro-2019.jpg"  width=100%>
                        <div class="contenido-art">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                            
                        </div>
                        <p class="descripcion">MacBook Pro 2019</p>
                    </div>

                    <div class="articulo">
                        <img src="/images/img-samsung-galaxy-s10.jpg"  width=100%>
                        <div class="contenido-art">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                            
                        </div>
                        <p class="descripcion">Samsung Galaxy S10</p>
                    </div>

                    <div class="articulo">
                        <img src="/images/img-tv-samsung-smart.jpg"  width=100%>
                        <div class="contenido-art">
                            <div class="logo-envio"><i class="fas fa-truck"></i></div>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                            
                        </div>
                        <p class="descripcion">SmartTv Samsung 43"</p>
                    </div>
                    
                </section>

                <h2 class="centrado"><Strong> Seccion de ofertas</Strong> </h2>
                    <section class="contenedor-section">
                        <div class="articulo">
                            <img src="/images/img-cafetera-moulinex.jpg" width=100% >
                            <div class="contenido-art">
                                <div class="logo-envio"><i class="fas fa-truck"></i></div>
                                <p class="precio">$6770</p>
                                <p class="descuento">40% OFF</p>
                            </div>
                            <p class="descripcion">cafetera moulinex</p>
                        </div>

                        <div class="articulo">
                            <img src="/images/img-macbook-pro-2019.jpg"  width=100%>
                            <div class="contenido-art">
                                <div class="logo-envio"><i class="fas fa-truck"></i></div>
                                <p class="precio">$230.000</p>
                                <p class="descuento">20% OFF</p>
                            </div>
                            <p class="descripcion">MacBook Pro 2019</p>
                        </div>

                        <div class="articulo">
                            <img src="/images/img-samsung-galaxy-s10.jpg"  width=100%>
                            <div class="contenido-art">
                                <div class="logo-envio"><i class="fas fa-truck"></i></div>
                                <p class="precio">$70.500</p>
                                <p class="descuento">10% OFF</p>
                            </div>
                            <p class="descripcion">Samsung Galaxy S10</p>
                        </div>

                        <div class="articulo">
                            <img src="/images/img-tv-samsung-smart.jpg"  width=100%>
                            <div class="contenido-art">
                                <div class="logo-envio"><i class="fas fa-truck"></i></div>
                                <p class="precio">$23.200</p>
                                <p class="descuento">5% OFF</p>
                            </div>
                            <p class="descripcion">SmartTv Samsung 43"</p>
                        </div>

                    </section>
        </div>
    </main>
    <footer class="contenedor-footer centrado">
        <div class="contenedor-white">
            <div class="container">
                <div class="contenedor-abajo">

                    <div class="contenedor-txt-img">
                        <i class="fas fa-credit-card"></i>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </div>

                    <div class="contenedor-txt-img">
                        <i class="fas fa-gift"></i>
                        <h3>Envío gratis desde $ 2.500</h3>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>

                    <div class="contenedor-txt-img">
                        <i class="fas fa-user-shield"></i>
                        <h3>Seguridad principio a fin</h3>
                        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedes hacer porque estas siempre protegid@</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-copy">
            <div class="container">       
                <div class="copyright">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>
            </div>
        </div>
    </footer>

<script src="/js/script.js"></script>
</body>
</html>