<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MercadoLiebre</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="shortcut icon" href="/images/logo-mercado-liebre.svg" />
    
</head>
<body>
    <header>

        <div class="main-header">
            <div class="container">
                <div class="header-top-bar">
                    <img src="/images/logo-mercado-liebre.svg" alt="mercadoLiebre logo" class="logo">
                    
                    <div class="search-bar"> <input type="text" placeholder="Buscar productos, marcas">
                    <button class="button"> <i class="fas fa-search"></i></button> 
                    </div>

                    <h2 class="copy-header">
                        <i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credito </h2> 
                </div>
            
                <nav id="main-navbar">
                    <div class="container">
                        <div id="main-navbar-mobile" class="hide" style="display: none;">
                            <ul class="left-bar">
                                <li><a href="/"> Ofertas </a></li>
                                <li><a href="/"> Tiendas Oficiales </a></li>
                                <li><a href="/"> Vender </a></li>
                                <li><a href="/"> Ayuda </a></li>
                            </ul>
                            <ul class="right-bar">
                                <li><a href="/register"> Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                                <li><a href="/login"> Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                                <li><a href="/"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                            </ul>
                        </div>
                        <div id="main-navbar-desktop">
                            <ul class="left-bar">
                                <li><a href="/"> Ofertas </a></li>
                                <li><a href="/"> Tiendas Oficiales </a></li>
                                <li><a href="/"> Vender </a></li>
                                <li><a href="/"> Ayuda </a></li>
                            </ul>
                            <ul class="right-bar">
                                <li><a href="/register"> Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                                <li><a href="/login"> Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                                <li><a href="/"> Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                            </ul>
                        </div>
                    </div>                    
                    <div  class="burger-menu" >
                        <button  id="btn-menu"><i class="fas fa-bars"></i></button>
                    </div>
                </nav>

            </div>
        </div>
    </header>

    
    <main class="contenedor-main">
    <div class="banner"><img src="/images/img-home-banner.jpg" alt="Banner: descuento navidad"> </div>
    <div class="container">
            <form class="formulario">
                <div class="field name">
                    <input type="text" placeholder="Nombre y apellido">
                </div>
                <div class="field username">
                    <input type="text" placeholder="Nombre de usuario">
                </div>
                <div class="field date">
                    <label for="date" class="field">Fecha de nacimiento</label>
                    <input type="date" min="1920-01-01" max="2020-12-31" name="date">
                </div>
                <div class="field home">
                    <input type="text" placeholder="Domicilio">
                </div>
                <div class="field perfilUsuario">
                    <label for="date" class="field">Perfil de usuario</label>
                    <div class="radio">
                        <input type="radio" name="usuario" checked>
                        <label for="usuario">Comprador</label>
                        <input type="radio" name="usuario">
                        <label for="usuario">Vendedor</label>
                    </div>
                </div>
                <div class="field interes">
                    <label for="date" class="field">Intereses</label>
                    <div class="checkbox">
                        <input type="checkbox" name="interes">
                        <label for="interes">Electro</label> <br>
                        <input type="checkbox" name="interes">
                        <label for="interes">Vida sana</label> <br>
                        <input type="checkbox" name="interes">
                        <label for="interes">Moda</label> <br>
                        <input type="checkbox" name="interes">
                        <label for="interes">Hogar</label> <br>
                    </div>
                </div>
                <div class="field picture">
                    <label for="picture" class="field">Seleccionar imagen de perfil:</label>
                    <input type="file" accept=".jpg" name="picture" style="max-width: 100%;">
                </div>
                <div class="field psw">
                    <input type="password" placeholder="Contraseña">
                </div>
                <div class="field psw-confirm">
                    <input type="password" placeholder="Confirma Contraseña">
                </div>
                <div class="field cancelar">
                    <button type="reset"> Borrar datos</button>
                </div>
                <div class="field registrar">
                    <button type="button">
                        <a href="/" style="text-decoration: none; color: inherit;">Registrarse</a>
                    </button>
                </div>
            </form>
    </div>
    </main>
    <footer class="contenedor-footer centrado">
        <div class="contenedor-white">
            <div class="container">
                <div class="contenedor-abajo">

                    <div class="contenedor-txt-img">
                        <i class="fas fa-credit-card"></i>
                        <h3>Pagá con tarjeta o en efectivo</h3>
                        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                    </div>

                    <div class="contenedor-txt-img">
                        <i class="fas fa-gift"></i>
                        <h3>Envío gratis desde $ 2.500</h3>
                        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                    </div>

                    <div class="contenedor-txt-img">
                        <i class="fas fa-user-shield"></i>
                        <h3>Seguridad principio a fin</h3>
                        <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedes hacer porque estas siempre protegid@</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="contenedor-copy">
            <div class="container">       
                <div class="copyright">
                    <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </div>
            </div>
        </div>
    </footer>

<script src="/js/script.js"></script>
</body>
</html>